<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Foodie.js</h1>
    
    <a href="/">Whats Cooking</a>
        <a href="/">Add Recipe</a>
        <a href="/">My Cookbook</a>
  </body>
</html>
