<%- include('./partials/header') %>
 
<span id="home-page">
<h1> foodie.js </h1>
    <h2>Your favorite app to store your most delicious recipes! 
        Login to share your own or click on 'Whats Cooking to 
        brows for ideas!
    </h2>
</span>

<%- include('./partials/footer') %>
