
<%- include('../partials/header') %>

<form id="new-form" action="/recipes/new/add" method="POST">
    <br>
    <br>
    <br>
    <div><label>Title:</label>
        <textarea name="title"></textarea>
</div>
<div>
    <label>Ingredients:</label>
    <textarea name="ingredients"></textarea>
</div>
<div>
    <label>Instructions:</label>
    <textarea name="instructions"></textarea>
    <br>
</div>
    <input type="submit" value="Add Recipe">
    
</form>

    <%- include('../partials/footer') %>