<%- include('../partials/header') %>
<link rel="stylesheet" href="styles.css">

<form id="new-form" action="/recipes/new/add" method="POST">
    <br>
    <br>
    <label>Title:</label><br>
    <input type="text" name="title"><br>
    
    <label>Ingredients:</label><br>
    <input type="text" name="ingredients"><br>

    <label>Instructions:</label><br>
    <input type="text" name="instructions"><br><br>

    <input type="submit" value="Add Recipe"><br>
    
</form>

    <%- include('../partials/footer') %>